/*white: #FEFFFF*/
/*blue : #72918B*/
/*green : #9FB03E*/
/*orange : #FF6138*/
/*dark green: #3C3F36*/

/************** MAIN STYLES **************************/
/*page container*/
.container{
	clear:all;
}
/*body*/
body{
	color: #3C3F36;
	background: #FEFFFF;
	font-family: 'Roboto Condensed', sans-serif;
}
/*h1, h2 tags*/
h1,h2{
	color: #72918B;
	font-family: 'Inconsolata';
	font-weight: bold;
	letter-spacing: 1px;
	
}
/*sub-headers*/
h3,h4,h5{
	color: #9FB03E;
	font-family: 'Inconsolata';
	letter-spacing: 1px;
	font-weight: bold;
}
/*h5 tags*/
h3{
	font-size: 2em;
}
/*parageaph fone for this page*/
p{
	font-size: 1.2em;
	letter-spacing: 1.2px;
}
/*main paragraph text*/
main p{
	font-size: 1em;
	letter-spacing: 2px;
}
/*a links*/
a{
	color: #72918B;
}
/*buttons default*/
.btn-default{
	background: #72918B;
	color:#FEFFFF;
	-webkit-box-shadow: 10px 10px 12px -7px rgba(43,52,61,0.36);
	-moz-box-shadow: 10px 10px 12px -7px rgba(43,52,61,0.36);
	box-shadow: 10px 10px 12px -7px rgba(43,52,61,0.36);
	border: none;
}
/*buttons default hover*/
.btn-default:hover{
	background: #9FB03E;
	color:#3C3F36;
}
/*footer section*/
footer{
	clear:both;
}
/*all headings container for accordian tab*/
.panel-heading{
	
}
/*a links inside of header titles*/
.panel-heading a{
	color: #FEFFFF; 
}
/*icons in accordion*/
.panel-heading img{
 	padding-left:2%;
}
/*first accordion tab*/
#headingOne{
	background: #72918B;
}
/*second accordion tab*/
#headingTwo{
	background: #9FB03E;
}
/*third accordion tab*/
#headingThree{
	background: #FF6138;
}
/*footer section*/
footer{
	margin-top:100px;
	border-top: 2px solid #72918B;
	padding-top:100px;
}
/*active bottom nav button in footer*/
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  color: #fff;
  background-color: #72918B;
}
/*footer p*/
footer p{
	padding-top: 30px;
}


/***********************INDEX.HTML*******************************/

/*main section*/
#main{
	margin:70px 0 100px 0;
}
/*main header*/
#main h2{
	color: #9FB03E;
}
/*main image*/
#frontImg{
	border: 5px solid #72918B;
}
/*main image container inside accordion 1 slide*/
#accImg1{
	margin-top: 30px;
}
/*buttons in acco tabs*/
#accordion .btn-default{
	margin-top:30px;
}
/*social media  acc title*/
#sm h2{
	color: #9FB03E;
}
/*button in Social Media Acc Tab*/
#sm .btn-default{
	background: #9FB03E;
}
/*button in Grafix Acc tab*/
#gm .btn-default{
	background: #FF6138;
}
/*button in Grafix Acc tab on hover*/
#gm .btn-default:hover{
	background: #FF6138;
}
/*grahics media  acc title*/
#gm h2{
	color: #FF6138;
}

/****************WEBDESIGN.HTML**********************************************/
/*parageaph fone for this page*/
#web p{
	font-size: 1.2em;
	letter-spacing: 1.2px;
}
/*main article*/
#webMain{
	margin-top: 70px;
} 
/*web main title*/
#webMain h2{
	font-size: 3em;
	margin-bottom: 70px;
}
/*web main blockquote*/
#webMain blockquote{
	font-size: 1.5em;
	letter-spacing: 1.5px;
	margin-top:15px;
	color: #72918B;
}
/*main article img*/
#webMain img{
	padding: 3px;
	margin-top: 30px;
}
/*example sites section*/
#exPage{
	margin-top: 100px;
	background: #72918B;
	padding: 10%;
}
/*ex section title*/
#exPage h1{
	font-size: 4em;
	color: #FEFFFF;/* #72918B*/
	clear: all;
}
/*exPage p container*/
#exPage .img-circle{
	background: #FEFFFF;
	padding: 2%;
	margin: 30px 0 30px 0;
}
/*p an header in ex section*/
#exPage p, #exPage h3{
	padding: 6%;
}
/*subitles of ex section*/
#exPage h3{
	color: #9FB03E;
	text-align: center;
}
/*expage buttons*/
#exPage .btn-default{
	background: #9FB03E;
}
/*images in example section*/
#exPage img{
	padding-left: 20%;
	margin-top: 70px;
}
#exPage .row h3, #exPage .row p, #exPage .row .btn{
	margin-bottom: 30px;
}
/*js framework section*/
#jsSec{
}
/*js framework section header*/
#jsSec h2{
	text-align: center;
	font-size: 3em;
	color:#9FB03E;
}
/*js framework section sub header*/
#jsSec h4{
	text-align: center;
	font-size: 2em;
	padding: 6%;
	font-weight: bold;
}
#jsSec img{
	margin-top: 70px;
}
#jsSec p{
	padding: 10%;
}
/*last articles ection*/
#lastArt{
	margin-top:100px;
}
/*title in last section*/
#lastArt h2{
	margin-bottom: 30px;
}
/*logo image in bottom of page*/
#lastArt img{
	margin-top: 30px;
}

/****************Media.HTML**********************************************/
#mmMain h2{
	font-size: 3em;
	color: #FF6138;
}
/*paragraph for for this page*/
#med p{
	font-size: 1.2em;
}
/*main article container*/
#mmMain{
	margin-top: 70px;
}
/*ex section title*/
#med h1{
	font-size: 4em;
	color: #FF6138;
	padding: 7px;
}
/*examples section*/
#mmEx{
	margin-top: 100px;
}
/*examples rows*/
#mmEx .row{
	margin-top: 100px;
	padding-bottom: 30px;
	border-bottom: 3px solid #3C3F36;
}
/*headers in example section*/
#mmEx h3{
	background: #FF6138;
	color: #FEFFFF;
	padding: 10px;
}
/*paragraphs and headers in example section*/
#mmEx p, #mmEx h3{
	margin-bottom: 30px;
}

/******************************* GRAFIX.HTML ************************************************/
/*image carousel*/
#carousel-example-generic{
	margin: 30px 0 70px 0;
}
/*paras in page*/
#grafix p{
	font-size: 1.2em;
}
/*main article container*/
#gMain{
	margin-top: 70px;
}
/*main header*/
#gMain h2{
	color: #FF6138;
	font-size: 3em;
	margin-bottom: 30px;
}
/*main image*/
#gMain img{
	margin-top: 100px;
	padding-left: 17%;
}
/*examples section*/
#gEx{
	margin-top: 100px;
	background: #FF6138;
	padding:20px;
}
/*example rows*/
#gEx .row{
	background:#FEFFFF;
	margin: 30px; 
	padding:50px;
}
/*example rows*/
#gEx .row p{
	 padding: 30px;
	 margin: 30px;
}
/*example images*/
#gEx .row img{
	 margin-top: 100px;
	 padding: 30px;
}
/*headers in example section*/
#gEx h3{
	color:#9FB03E;
	padding: 10px;
	font-size: 3em;
	text-align: center;
}
/*paragraphs and headers in example section*/
#gEx p, #gEx h3{
	margin-bottom: 30px;
}

/************************************SOCAIL MARKETING.HTML*****************************************/
/*paras in page*/
#smPage p{
	font-size: 1.2em;
}
/*main article container*/
#smMain{
	margin-top: 70px;
}
/*sm main header*/
#smMain h2 {
	font-size: 3em;
	color:#9FB03E;
	margin-bottom: 30px;
}
/*main image */
#smImgBox img{
	margin-top:70px;
}
/*main p*/
#smMain p{
	margin-top: 70px;
}
/*2nd image in main article*/
#main2img{
	margin-top: 30px;
}
/*examples section*/
#smEx{
	margin-top: 100px;
}
/*ex section title*/
#smEx h1{
	font-size: 4em;
	color: #9FB03E;
	padding: 7px;
}
/*default buttons*/
#smPage .btn-default{
	background: #9FB03E; 
}
/*default buttons*/
#smPage .btn-default:hover{
	background: #72918B; 
	color:#FEFFFF;
}
/*ex rows*/
#smEx .row{
	margin-top: 100px;
	padding-bottom: 30px;
	border-bottom: 3px solid #9FB03E;
}
/*paragraphs and headers in example section*/
#smEx p, #smEx h3{
	margin-bottom: 30px;
}

/**************************ABOUT.ME**************************************************************************/
/*main section*/
#aboutMain{
	margin-top: 30px;
}
/*page paragraphs*/
#aboutPage p{
	font-size: 1.3em;
}
/*page p, heading btn*/
#aboutPage p,#aboutPage h1,#aboutPage h3,#aboutPage .btn{
	margin-top: 30px;
}



/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {
		/*GRAPHIC DESIGN PAGE*/
		/*example rows*/
		#gEx .row{
			background:#FEFFFF;
			margin:30px 0 30px 0; 
			padding:0;
		}
		/*example rows*/
		#gEx .row p{
			 padding:0px;
			 margin:0;
		}
		/*example images*/
		#gEx .row img{
			margin-top: 30px;
			padding:0px;
		}
	}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
		/*GRAPHIC DESIGN PAGE*/
		/*example rows*/
		#gEx .row{
			background:#FEFFFF;
			margin:30px 0 30px 0; 
			padding:0;
		}
		/*example rows*/
		#gEx .row p{
			 padding:0px;
			 margin:0;
		}
		/*example images*/
		#gEx .row img{
			margin-top: 30px;
			padding:30px;
		}
		/*SOCIAL MEDIA PAGE*/
		
		/*default buttons*/
		#smPage .btn-default{
			margin: 30px 0 70px 0; 
		}
		/*image container in social media main article*/
		#smImgBox{
			margin: 70px 0 70px 0;
			padding: 50px;
			background: #9FB03E;
			border-radius: 44px 200px 51px 187px;
			-moz-border-radius: 44px 200px 51px 187px;
			-webkit-border-radius: 44px 200px 51px 187px;
			border: 0px solid #000000;
		}
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		/*GRAPHIC DESIGN PAGE*/
		/*example rows*/
		#gEx .row{
			background:#FEFFFF;
			margin:30px 0 30px 0; 
			padding:0;
		}
		/*example rows*/
		#gEx .row p{
			 padding:0px;
			 margin:0;
		}
		/*example images*/
		#gEx .row img{
			margin-top: 30px;
			padding:0px;
		}
		/*SOCIAL MEDIA PAGE*/

		/*default buttons*/
		#smPage .btn-default{
			margin: 30px 0 70px 0; 
		}
		/*image container in social media main article*/
		#smImgBox{
			margin: 70px 0 70px 0;
			padding: 50px;
			background: #9FB03E;
			border-radius: 44px 200px 51px 187px;
			-moz-border-radius: 44px 200px 51px 187px;
			-webkit-border-radius: 44px 200px 51px 187px;
			border: 0px solid #000000;
		}
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		/*GRAPHIC DESIGN PAGE*/
		/*example rows*/
		#gEx .row{
			background:#FEFFFF;
			margin:30px 0 30px 0; 
			padding:0;
		}
		/*example rows*/
		#gEx .row p{
			 padding:0px;
			 margin:0;
		}
		/*example images*/
		#gEx .row img{
			margin-top: 30px;
			padding:0px;
		}
		/*SOCIAL MEDIA PAGE*/
		
		/*default buttons*/
		#smPage .btn-default{
			margin: 30px 0 70px 0; 
		}
		/*image container in social media main article*/
		#smImgBox{
			margin: 70px 0 70px 0;
			padding: 50px;
			background: #9FB03E;
			border-radius: 44px 200px 51px 187px;
			-moz-border-radius: 44px 200px 51px 187px;
			-webkit-border-radius: 44px 200px 51px 187px;
			border: 0px solid #000000;
		}
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		/*GRAPHIC DESIGN PAGE*/
		/*example rows*/
		#gEx .row{
			background:#FEFFFF;
			margin:30px 0 30px 0; 
			padding:0;
		}
		/*example rows*/
		#gEx .row p{
			 padding:0px;
			 margin:0;
		}
		/*example images*/
		#gEx .row img{
			margin-top: 30px;
			padding:0px;
		}

		/*SOCIAL MEDIA PAGE*/
		
		/*default buttons*/
		#smPage .btn-default{
			margin: 30px 0 70px 0; 
		}
		/*image container in social media main article*/
		#smImgBox{
			margin: 70px 0 70px 0;
			padding: 50px;
			background: #9FB03E;
			border-radius: 44px 200px 51px 187px;
			-moz-border-radius: 44px 200px 51px 187px;
			-webkit-border-radius: 44px 200px 51px 187px;
			border: 0px solid #000000;
		}
	}






















